{{ define "main" }}


<main class="page-main">
    <h1 class="post-title">{{ .Title }}</h1>
    <p class="muted">共 {{ len .Pages }} 项</p>

    <hr class="stars">

    <ul class="archive-list">
        {{- range .Pages.ByDate.Reverse }}
        <li>
            <a class="archive-title" href="{{ .RelPermalink }}">
                {{ .Title }}
            </a>
            <span class="archive-meta">
                {{ .Date.Format "Jan 2, 2006" }}
            </span>
        </li>
        {{- end }}
    </ul>
</main>

{{ end }}
