{{- $description := .Site.Params.description | default "" -}}
{{- with .Params.description -}}
    {{- $description = . -}}
{{- else -}}
    {{- if .IsPage -}}
        {{- with .Summary | plainify | htmlUnescape | strings.TrimSpace | truncate 160 -}}
            {{- $description = . -}}
        {{- end -}}
    {{- else -}}
        {{- with .Description -}}
            {{- $description = . -}}
        {{- end -}}
    {{- end -}}
{{- end -}}
{{- $description = $description | plainify | htmlUnescape | strings.TrimSpace -}}

{{- $image := "" -}}
{{- with (or .Params.featuredimage .Params.cover .Site.Params.socialimage) -}}
    {{- $image = . | absURL -}}
{{- end -}}

<meta name="description" content="{{ $description }}">
<link rel="canonical" href="{{ .Permalink }}">

<meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}">
<meta property="og:description" content="{{ $description }}">
<meta property="og:type" content="{{ if and .IsPage (in .Site.Params.mainSections .Section) }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
{{- with $image }}
<meta property="og:image" content="{{ . }}">
{{- end }}

<meta name="twitter:card" content="{{ if $image }}summary_large_image{{ else }}summary{{ end }}">
<meta name="twitter:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}">
<meta name="twitter:description" content="{{ $description }}">
{{- with $image }}
<meta name="twitter:image" content="{{ . }}">
{{- end }}

{{- $authorName := .Site.Params.author.name | default .Site.Title -}}
{{- $personID := printf "%s#person" .Site.Home.Permalink -}}
{{- if .IsHome -}}
    {{- $person := dict "@type" "Person" "@id" $personID "name" $authorName "url" .Site.Home.Permalink -}}
    {{- $website := dict "@type" "WebSite" "@id" (printf "%s#website" .Site.Home.Permalink) "url" .Site.Home.Permalink "name" .Site.Title "description" $description "publisher" (dict "@id" $personID) -}}
    {{- dict "@context" "https://schema.org" "@graph" (slice $website $person) | jsonify | safeJS | printf `<script type="application/ld+json">%s</script>` | safeHTML -}}
{{- else if and .IsPage (in .Site.Params.mainSections .Section) -}}
    {{- $article := dict "@context" "https://schema.org" "@type" "BlogPosting" "headline" .Title "description" $description "url" .Permalink "mainEntityOfPage" .Permalink "datePublished" (.PublishDate.Format "2006-01-02T15:04:05Z07:00") "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00") "author" (dict "@type" "Person" "@id" $personID "name" $authorName) -}}
    {{- with $image -}}
        {{- $article = merge $article (dict "image" .) -}}
    {{- end -}}
    {{- $article | jsonify | safeJS | printf `<script type="application/ld+json">%s</script>` | safeHTML -}}
{{- end -}}
